@import "home.css";
@import "fade.css";
@import "clip.css";
@import "slide.css";


.js-badge {
  position: fixed;
  top: 32px;
  left: 32px;
  border-radius: 16px;
  background-color: lightblue;
  color: black;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.2;
  font-size: 14px;
  cursor: pointer;
  z-index: 10000;
  transition: background-color 0.1s ease-out;
}

.js-badge:hover {
  background-color: rgb(228, 137, 193);
}

/* purple when it's local */
/* body {
  background-color: #eeebfc;
} */

/* green when it's in production */
/* body {
  background-color: #d2fcd2;
} */

:root {
  --easing: cubic-bezier(0.5, 0.7, 0.4, 1);
}


.transition {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #c8cc98;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-100%);
  z-index: 1;
}




/* Text decoration - works with or without SplitText */
.ux_text_highlighter_deco {
  text-align: center;
  z-index: 0;
}

.ux_text_highlighter_deco .split-line {
  position: relative;
  display: block;
  text-align: center;
}

.ux_text_highlighter_deco .split-line > div,
.ux_text_highlighter_deco > div {
  position: relative;
}

.ux_text_highlighter_deco .split-line > div::after,
.ux_text_highlighter_deco .sct_text_decoration_word > div::after,
.ux_text_highlighter_deco > div::after {
  content: '';
  position: absolute;
  bottom: 6px;
  left: -0.15em;
  right: -0.15em;
  height: calc(var(--_responsive---sj--sc_1_card_text_subheader_line_height) - 0px);
  /* background-color: rgba(127, 217, 240, 0.9); */
  /* background-color: rgba(248, 221, 67, 0.9); */
  background-color: #FDECD0;
  pointer-events: none;
  z-index: -1;
}

@media (min-width: 762px) and (max-width: 991px) {
  .ux_text_highlighter_deco .split-line > div::after,
  .ux_text_highlighter_deco .sct_text_decoration_word > div::after,
  .ux_text_highlighter_deco > div::after {
    content: '';
    position: absolute;
    bottom: 6px;
    left: -0.15em;
    right: -0.15em;
    height: calc(var(--_responsive---sj--sc_1_card_text_subheader_line_height) - 0px);
    /* background-color: rgba(127, 217, 240, 0.8); */
    background-color: #FDECD0;
    pointer-events: none;
    z-index: -1;
  }
}


@media (max-width: 767px) {
  .ux_text_highlighter_deco .split-line > div::after,
  .ux_text_highlighter_deco .sct_text_decoration_word > div::after,
  .ux_text_highlighter_deco > div::after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: -0.15em;
    right: -0.15em;
    height: calc(var(--_responsive---sj--sc_1_card_text_subheader_line_height) - 0px);
    /* background-color: rgba(127, 217, 240, 0.7); */
    background-color: #FDECD0;
    pointer-events: none;
    z-index: -1;
  }
}

/* Color variants for text highlighter */
.ux_text_highlighter_deco.blue .split-line > div::after,
.ux_text_highlighter_deco.blue .sct_text_decoration_word > div::after,
.ux_text_highlighter_deco.blue > div::after {
  background-color: var(--color--blue--300);
}

.ux_text_highlighter_deco.gold .split-line > div::after,
.ux_text_highlighter_deco.gold .sct_text_decoration_word > div::after,
.ux_text_highlighter_deco.gold > div::after {
  background-color: var(--color--bold_yellow_-gold--100);
}

.ux_text_highlighter_deco.teal .split-line > div::after,
.ux_text_highlighter_deco.teal .sct_text_decoration_word > div::after,
.ux_text_highlighter_deco.teal > div::after {
  background-color: var(--color--pale_green--200);
}

/* Small text variant */
.ux_text_highlighter_deco.small_text .split-line > div::after,
.ux_text_highlighter_deco.small_text .sct_text_decoration_word > div::after,
.ux_text_highlighter_deco.small_text > div::after {
  bottom: 2px;
  height: 12px;
}

@media (min-width: 762px) and (max-width: 991px) {
  .ux_text_highlighter_deco.small_text .split-line > div::after,
  .ux_text_highlighter_deco.small_text .sct_text_decoration_word > div::after,
  .ux_text_highlighter_deco.small_text > div::after {
    bottom: 2px;
    height: 10px;
  }
}

@media (max-width: 767px) {
  .ux_text_highlighter_deco.small_text .split-line > div::after,
  .ux_text_highlighter_deco.small_text .sct_text_decoration_word > div::after,
  .ux_text_highlighter_deco.small_text > div::after {
    bottom: 1px;
    height: calc(var(--_responsive---lineheights--font1--default) - 0px);
  }
}

/* Color variants for small text */
.ux_text_highlighter_deco.small_text.blue .split-line > div::after,
.ux_text_highlighter_deco.small_text.blue .sct_text_decoration_word > div::after,
.ux_text_highlighter_deco.small_text.blue > div::after {
  background-color: var(--color--blue--200);
}

.ux_text_highlighter_deco.small_text.gold .split-line > div::after,
.ux_text_highlighter_deco.small_text.gold .sct_text_decoration_word > div::after,
.ux_text_highlighter_deco.small_text.gold > div::after {
  background-color: var(--color--bold_yellow_-gold--100);
}

.ux_text_highlighter_deco.small_text.teal .split-line > div::after,
.ux_text_highlighter_deco.small_text.teal .sct_text_decoration_word > div::after,
.ux_text_highlighter_deco.small_text.teal > div::after {
  background-color: var(--color--pale_green--200);
}

/* Video wrapper dimensions - reserves space to prevent layout shifts */
/* .ux_home_cs_image_wrapper, */
/* .ux_home_cs_image_slot,
.ux_home_v2_cs_card_image_container.hult.video
{
  aspect-ratio: 1920 / 1051; 
  width: 100%;
} */

/* CS Banner image dimensions - reserves space to prevent layout shifts */
/* .ux_cs_banner_image {
  aspect-ratio: 1052 / 497; 
  width: 100%;
  height: auto;
} */
